<div class="row mt-5">
  <div class="col-6">
    <h4>Task List</h4>
  </div>
  <div class="col-6 text-right">
    <a [routerLink]="['/tasks/detail']" class="btn btn-primary" routerLinkActive="router-link-active" >Add</a>
  </div>
</div>
<table class="table mt-5" *ngIf="taskList">
    <thead>
      <tr>
        <th scope="col">#ID</th>
        <th scope="col">Task</th>
        <th scope="col">Description</th>
        <th scope="col">Category</th>
        <th scope="col">Status</th>
        <th scope="col">Priority</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of taskList">
        <th scope="row">{{item.id}}</th>
        <td>{{item.task}}</td>
        <td>{{item.description}}</td>
        <td>{{item.category}}</td>
        <td>{{item.status}}</td>
        <td class="">
            <span *ngIf="item.priority == '1'" class="alert p-1 alert-success">Low</span>
            <span *ngIf="item.priority == '2'" class="alert p-1 alert-danger">High</span>
        </td>
        <td><a  [routerLink]="['/tasks/detail', item.id]" class="btn btn-warning">Edit</a></td>
        <td><a  (click)="deleteTask(item.id)" class="btn btn-danger">Delete</a></td>
    </tr>
    </tbody>
  </table>